.carta{
    border-radius: 20px;
    background: #f8f7f7;
    box-shadow: -5px 5px 13px #cfcece,
    5px -5px 13px #ffffff;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

.carta:hover{
    background-color: #f1f1f1  ;
    transform: translateY(-10px);
    
}
.textoPrincipal{
    text-align: center;
    margin: 8px;
    font-family: "Roboto", sans-serif;;
}

.icono{
    box-shadow:  5px 5px 14px #292929,
    -7px -7px 14px #ffffff; 
}


@media screen and (max-width: 767px) {
    .cartaEspacio{
        display: flex;
        flex-direction: row;
        gap:5px;
        margin: 7px;
    }
    .carta{
    padding:10px ;
    width: 100%;

    }
    .cerrarSesion, .trabajador, .pedidos, .perfilPrincipal, .listaTrabajo, .producto{
        width: 50px;
        
    }
    .textoPrincipal{
        font-size: 13px;
    }

}
@media screen and (min-width: 768px) , (max-width:1023) {
    .carta{
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: center;
    }
    .cerrarSesion,.trabajador, .pedidos, .perfilPrincipal, .listaTrabajo, .producto{
        width: 60px;
        
    }


}
@media screen and (min-width: 1024px){
    .carta{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.cerrarSesion,.trabajador, .pedidos, .perfilPrincipal, .listaTrabajo, .producto {
    width: 60px;
    
}


}

.footer{
 
}
.footer2{
   
  
}