.carta, .cartaV{
    border-radius: 20px;
    background: #f8f7f7;
    box-shadow: -5px 5px 13px #cfcece,
    5px -5px 13px #ffffff;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

.iconoPerfil{
    transition: transform 0.3s ease;
}
.iconoPerfil:hover{
   
    transform: scale(1.1);
}
.carta:hover, .cartaV:hover{
    background-color: #f1f1f1  ;
    transform: translateY(-10px);
}
.textoPrincipal, .textoPrincipalV{
    text-align: center;
    margin: 8px;
    font-family: "Roboto", sans-serif;;
}

.icono{
    box-shadow:  5px 5px 14px #292929,
    -7px -7px 14px #ffffff; 
}
.footerBienvenido{
  
  position: fixed;
  bottom: 0;
  width: 100%;
}

  

@media screen and (max-width: 767px) {
    .cartaEspacioV{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:15px;
        margin: 7px;
        width: 100%;
        
    }
    .cartaEspacio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:5px;
        margin: 7px;  
    }
    .carta{
        padding:10px ;
        width: 55%; 
        max-width: 120px;
        
        }
    
      .textoPrincipalV {
        width: 50%;
        font-size: 13px;
        text-align: center; 
        
      }
    .cartaEspacioV , .cartaV{
        margin-bottom: 10px;
        flex: 1 1 calc(40% - 15px);
    }
    .cartaV{
    padding:10px ;
    width: 45%; 
    max-width: 120px;
    min-height: 20px;
    }
    .cerrarSesion, .trabajador, .pedidos, .perfilPrincipal, .listaTrabajo, .producto{
        width: 45px;
        
    }
    .textoPrincipalV{
        font-size: 13px;
        display: flex;
        flex-direction: column;
    }

}
@media screen and (min-width: 768px) , (max-width:1023) {
    .carta{
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: center;
    }
    .cerrarSesion,.trabajador, .pedidos, .perfilPrincipal, .listaTrabajo, .producto{
        width: 60px;
        
    }


}
@media screen and (min-width: 1024px){
    .carta{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.cerrarSesion,.trabajador, .pedidos, .perfilPrincipal, .listaTrabajo, .producto {
    width: 60px;
    
}


}

