.card1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
  align-items: center;
  justify-items: center;
  margin: 0 auto; /* Centrar el contenedor */
  max-width: 80%; /* Establecer el máximo ancho del contenedor al 80% de la pantalla */
  margin-bottom: 15px;
}

.card2 {
  width: 100%;
  max-width: 150px; /* Ajustar el máximo ancho de la carta */
  min-width: 150px; /* Ajustar el mínimo ancho de la carta */
}

@media (min-width: 768px) {
  .card1 {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); /* Ajustar el tamaño mínimo y máximo para pantallas más grandes */
    gap: 100px;
    max-width: none; /* Restablecer el máximo ancho cuando la pantalla es más grande */
  }
}
