.grid-container {
  display: flex;
  gap: 50px;
  margin-left: 400px;
}

.card3 {
  width: 100px;
  height: 130px;
  position: flex;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 25px;

}

.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(174, 166, 166, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 0 0 10px 10px;
  padding: 0 10px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-personalizado {
  font-size: 0.6rem;
  color: white;
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-personalizado:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.category-name {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.img{
  width: 100px;
  height: 100px;
}
@media (max-width: 768px) {
  .card3 {
    width: 70px;
    height: 70px;
  }

  .img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 1024px) {
  .grid-container {
    flex-direction: row;
    margin-left: 0;
  }
}