.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    
    
}

.card{
    background-color: rgb(238, 238, 238, 1);
    margin: 10px;
    margin-bottom: 20px;
    width: 47%;
    padding: 3%;
    
}
.custom-width {
    width: 100%;
}

.Boton{
    display: block;
    margin: 0 auto;
    width: 95%;
    background-color: #6977;
    color: #fff; 
    padding: 8px;
    border: none; 
    border-radius: 8px; 
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 180px;
}
.campoCrearTrabajador{
    padding: 18px;
}

/* Estilo al pasar el mouse sobre el botón */
.Boton:hover {
    background-color: #3b4385;
}

@media (max-width: 767px) {
    .card{
        
        margin: 10px;
        margin-bottom: 20px;
        width: 90%;
        padding: 2%;
        
    }

}

