.cardNotificaciones {
    width: 320px;
}

.cardNotificacionesGap {
    display: flex;
    flex-direction: column;
}

.cont2Notificaciones {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 36px;
}

.contFecha,
.contHora {
    display: flex;
    flex-direction: row;

}

.contNotificaciones {
    display: flex;
    flex-direction: column;
}

.iconoEliminarN {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contIconoN {
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    padding: 2px;
    margin-right: 3px;
    margin-top: -12px;
}

.cont1Notificaciones {
    display: flex;
}

@media screen and (max-width: 767px) {
    .cardNotificaciones {
        width: 350px;
        display: flex;

    }

    .contIconoN {
        margin-top: -4px;
    }

    .cont1Notificaciones {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .contNotificaciones {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .iconoEliminarN {
        display: flex;
        justify-content: flex-end;
    }
    .cardNotificacionesGap {
        width: 100%;
    }
    .cont2Notificaciones{
        margin-left: 35px; 
    }

}

@media screen and (min-width: 768px),
(max-width:1023) {
    .contIconoN {
        margin-top: -4px;
    }
}