.body-login {
    background-image: url('../../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;

}

.form-login {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.main-div {
    height: 50px;
    background-color: #6977E4;
}

span {
    margin-left: 15px;
    display: block;
    color: tomato;
    font-size: small;
}

.form-container {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252, 0.788);
    padding: 3%;
    border-radius: 20px;
    margin: 30px auto;
}


.titulo1 {
    color: #6977E4;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.titulo2 {
    color: #6977E4;
    margin-bottom: 5px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.subtitulo {
    color: black;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.login-button {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #6977E4;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 6px;
}

/* Estilos para celulares */
@media (max-width: 767px) {
    .form-container {
        margin-top: 50px;
        width: 80%;
        height: 42%;
        position: relative;
        top: 18%;

    }

    .titulo1 {
        font-size: 32px;
    }

    .titulo2 {
        margin-top: -25px;
        font-size: 52px;
    }

    .subtitulo {
        font-size: 14px;
    }

    .footer-login {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .body-login {

        height: 1000px;
    }
}

/* Estilos para tabletas */
@media (min-width: 767px) and (max-width: 1023px) {
    .form-container {
        margin-top: 170px;
        width: 80%;
        position: relative;
        height: 400px;
    }

    .body-login {

        height: 660px;
    }
}

/* Estilos para computadores */
@media (min-width: 1024px) {
    .form-container {
        margin-top: 180px;
        margin-bottom: 220px;
        width: 40%;
        position: relative;
        height: 430px;
        padding: 3%;
    }

    .login-button {

        margin-top: 25px;

    }

    .body-login {

        height: 700px;
    }
}