.body-login {
    background-image: url('../../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.form-login {
    display: flex;
    flex-direction: column;
    margin: auto;
}

span {
    margin-left: 10px;
    display: block;
    color: tomato;
    font-size: 10px;
}

.form-container {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.91);
    padding: 3%;
    border-radius: 20px;
    margin: 30px auto;
}

.titulo1 {
    color: #6977E4;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.titulo2 {
    color: #6977E4;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.subtitulo {
    color: black;
    margin-bottom: 20px;
    text-align: center;
    margin-top: -10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.custom-label{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: black;
    margin-left: 10px;
}

/* Estilos para celulares */
@media (max-width: 767px) {
    .form-container {
        margin-top: -25px;
        width: 80%;
        height: 42%;
        position: relative;
        top: 18%;
    }

    .titulo1 {
        font-size: 32px;
    }

    .titulo2 {
        margin-top: -25px;
        font-size: 52px;
    }

    .subtitulo {
        font-size: 14px;
    }

    .body-login {
        height: 1000px;
    }
}

/* Estilos para tabletas */
@media (min-width: 767px) and (max-width: 1023px) {
    .form-container {
        margin-top: 150px;
        width: 80%;
        position: relative;
        height: 500px;
    }

    .titulo1 {
        font-size: 42px;
    }

    .titulo2 {
        margin-top: -35px;
        font-size: 68px;
    }

    .subtitulo {
        font-size: 18px;
    }

    .body-login {
        height: 1200px;
    }
}

/* Estilos para computadores */
@media (min-width: 1024px) {
    .form-container {
        margin-top: 150px;
        width: 50%;
        position: relative;
        height: 50%;
    }

    .titulo1 {
        margin-top: -35px;
        font-size: 62px;
    }

    .titulo2 {
        margin-top: -55px;
        font-size: 100px;
    }

    .subtitulo {
        margin-top: -25px;
        font-size: 25px;
    }

    .body-login {
        height: 1000px;
    }
}