.cardprincipal{
    margin: 0 auto;
    

}
.iconoCard{
    color:#6977e4;

}

@media screen and (max-width: 767px) {
    .cardprincipal{
        width: 90%;
        font-size: 12px;
    }
    .cardGap{
        gap: 13px;
        width: 100%;
       
    }
    .iconoCard{
        width: 32px;
        height: 32px;
        
    }
    .cardPerfil{
        flex-direction: column;
    }
    .contenedor2{
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: end;
        gap: 10px;
        
    }
    .contenedor1{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:"13px";
        justify-content: space-between;
    }
    
}
@media screen and (min-width: 768px) and (max-width:1023) {
    .cardprincipal{
        width: 90%;   
    }
}

@media screen and (min-width: 1024px) {
    .cardprincipal{
        width: 60%;   
    }
    .cardGap{
    
        gap: 180px;
        width: 100%;   
        
    }
    .iconoCard{
        width: 45px;
        height: 45px;   
    }
    .cardPerfil{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .contenedor2{
        
        display: flex;
        justify-content: end;
        width: 30%;
        align-items: center;
        gap:13px;
        align-items: center;
    }
    .contenedor1{
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:"13px";
        justify-content: space-between;
    }
    
}