.cardprincipal {
    margin: 0 auto;
    width: 60%;

}

.iconoCard {
    color: #6977e4;

}


@media screen and (max-width: 767px) {
   

    .cardGap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;


    }

    .iconoCard {
        width: 32px;
        height: 32px;

    }

   



}

@media screen and (min-width: 768px), (max-width:1023) {
    .cardprincipal {
        width: 90%;
    }
    .cardGap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

    }
    
    .iconoCard {
        width: 32px;
        height: 32px;

    }
}

@media screen and (min-width: 1024px) {
    .cardprincipal {
        width: 60%;
    }

    .cardGap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

    }

    .iconoCard {
        width: 45px;
        height: 45px;
    }

    



}

