/* estilos de la tarjeta  */
.cont1ListaT{
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    
}

.card1ListaT{
position: relative;
width:260px;
height:170px;
z-index: 0;
}
.cont2ListaT{
    display: flex;
    flex-direction: column;

}
.contTexto1{
    margin-bottom: 55px;
}
.card2ListaT{
    display: flex;
    justify-content: space-between;
    width: 224px;
    height: 65px;
    position: relative;
    background-color: #eeee;
    border-radius: 8px;

}

.contTexto2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    font-size: 10px;
    

}
.contIcono{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    align-items: center;
}

@media screen and (max-width: 767px){
    /*crear Lista de trabajo*/
    .cardCrearListaT{
        width: 90%;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1024px){
     /*crear Lista de trabajo*/
     .cardCrearListaT{
        width: 60%;
        margin: 0 auto;
     }
     .acordeonListaT, .botonCrearListaT{
        width: 80%;
        margin: 0 auto;
     }
     .botonCrearListaT{
        width: 40%;
        margin: 0 auto;
    }
     
    }