

.footer {
    width: 100%;
    bottom: 0;
}

.footer-container{
    margin-bottom: 80px;
}
@media (max-width: 576px) {
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }
   

}