

.footer {
    bottom: 0;
    display: none; 
    width: 100%;

}

.footer-container{
    margin-bottom: 80px;
}
@media (max-width: 576px) {
    .footer {
        
        bottom: 0;
        left: 0;
    }
   

}

@media (max-height: 100vh) {
    .footer {
        display: block;
    }
}