.wave{
    
}


.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    clear: both;
}

.footer-container{
    margin-bottom: 80px;
}
@media (max-width: 576px) {
    .footer {
    
        position: fixed;
        bottom: 0;
        left: 0;
    }
   

}