.botones{

    margin-bottom: 190px; 
    position: relative;
    top: 80px;
    
}

.btn p{
    color: black;
    margin-top: 6px; 
    text-decoration: none;
}

.btn svg{
    margin-top: 20px;
    color:rgb(105, 119, 228, 1) ; 
}
