/* boton de cantidad  */
.btnCan{
    width: fit-content;
}

.btnmm, .numero, .btnm{
    min-width: 30px;
    padding: 0, 8px;
    font-size: 14px;
    max-height: 25px;
}

@media screen and (max-width: 767px) {
    .btnmm, .numero, .btnm{
        max-width: 7px;
        padding: 0, 3px;
        font-size: 10px;
        max-height: 15px;
        width: auto;
    }
}