body {
    /* background-image: url('../../img/fondo.png');  */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Arial', sans-serif;
   
    
}
  
.form-container {
    display: block;
    justify-content: center;
    background-color: rgba(252, 252, 252, 0.788);
    padding: 5%;
    border-radius: 20px;
    width: 70%;
    max-width: 400px;
    margin: 30px auto; 
    margin-bottom: 200px; 
}

  
.titulo-login {
    color: #6977E4;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Josefin Sans';
}
  
.subtitulo-login {
    color: black;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 25px;
    font-family: 'Josefin Sans';
}
  
  /* Estilos para pantallas pequeñas (576px o menos) */
@media (max-width: 576px) {
    .form-container{
        margin-top: 100px;
        width: 90%;
        position: relative;
        height: 200vh;
        
    
    }
    input{
        width: 100%;
    }
    .login-button{
        width: 100%;
    }
    .titulo-login {
      font-size: 1.2em;
    }
  
    .subtitulo-login {
      font-size: 1em;
    }
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    margin: auto; 
}
  
label {
    margin-bottom: 5px;
    font-family: 'Josefin Sans';
    font-size: 16px;
}
  
input {
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #d4d1d1;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}
  
input[type="text"] {
    background-color: #d4d1d1;
}
  
input[type="password"] {
    background-color: #d4d1d1;
}
  
.login-button {
    margin-top: 10px;
    border-radius: 25px;
    width: 100%;
    background-color: #6977E4;
    padding: 8px;
    font-size: 0.8em;
    color: #fff;
    cursor: pointer;
    border: none; 
}
  
.main-div {
    height: 50px;
    background-color: #6977E4;
}
  
span{
    display: block;
    color: tomato;
    font-size: x-small;
}