/* styles.css */

.cardProduct {
    display: flex; /* Disposición horizontal */
    background-color: #f0f0f0; /* Gris claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 100%; /* La carta ocupa todo el ancho */
    max-width: 1200px; /* Ancho máximo de la carta, ajusta según sea necesario */
    margin: 0 auto; /* Centrar la carta */
    padding: 20px; /* Espaciado interno */
    align-items: flex-start; /* Alinea los elementos al principio de la carta */
}

.cardProduct > div {
    display: flex; /* Disposición horizontal para los elementos dentro de la carta */
    align-items: center; /* Centra verticalmente los elementos */
}

.img {
    width: 80px; /* Tamaño de la imagen */
    height: 80px; /* Ajusta según sea necesario */
    border-radius: 50%; /* 50% de border radius */
    margin-right: 20px; /* Aumenta el margen derecho para alejar la imagen del texto */
}

.p1,
.p2 {
    margin: 0; /* Eliminar el margen predeterminado de los párrafos */
    margin-left: 400px; /* Espacio a la izquierda de los textos */
}
