/* estilos de la tarjeta  */

.cont1ListaPV{
  margin: 10px;
}


.card1ListaPVGap{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card1ListaP {
  position: absolute;
}

.cont2ListaP {
  display: flex;
  flex-direction: column;
}

.contTexto1P {
  width: 100%;
  margin-bottom: 5px;
  size: 30px;
  display: flex;
  justify-content: flex-start;
}


.card2ListaP, .card2ProcesoListaP {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  background-color: #eeee;
  border-radius: 8px;
}

.contTexto2P {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
  font-size: 10px;
}

.contIconoP {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  align-items: center;
}
.cont1ListaPGap, .cont1ProcesoListaPGap{
  width: 100%;
  margin: 0 auto;
}
.cont1ListaP{
  display: flex;
  gap: 2px;
   
}
.cont1ProcesoListaP{
  display: flex;
  width: 100%;
  margin: 0 auto;
 
}
.acordeonFormAP, .acordeonProAP, .acordeonCrP {
  width: 70%;
}

.footer-container{
  
    position: relative;
    bottom: 0;
    width: 100%;
   
}
.footerListaPeA{
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* styles.css */

@media screen and (max-width: 767px) {
  .acordeonCrP {
    position: relative;
    
  }
 .footer-container{
  position: relative;
  bottom: 0;
  width: 100%;
 margin-top: 50px;
 }
  .cont1CrP {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2px;
  
  }
  .txtCrPTitulo{
    font-size: 17px;
  }
  .acordeonFormAP, .acordeonProAP, .acordeonCrP {
    width: 98%;
  }
  .cont1ProcesoListaP{
    display: flex;
    width: 98%;
    margin: 0 auto;
  }

  .cont2CrP {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
    gap: 10px;
  }

  .cardCrearPedido {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .cardCrearPedidoGap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .text1ListaP{
    font-size: 20px;
  }
 
  .card1ListaPVGap{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}


@media screen and (min-width: 1024px) {
  .cont1CrP {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: "13px";
    justify-content: space-between;
  }

  .cont2CrP {

    display: flex;
    justify-content: flex-end;
    width: 30%;
    align-items: center;
    gap: 13px;
    align-items: center;
  }

  .cardCrearPedido {
    width: 60%;
    margin: 0 auto;
  }

  .cardCrearPedidoGap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .cardCrearPedidoDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .acordeonCrearP, .acordeonListaPV{
    width: 60%;
    margin: 0 auto;
     
  }
  
  .tex1ListaP{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    font-size: 30px;
  }
  .cont2ListaP{
    width: 100%;
  }
  .cont1ListaPGap{
    width: 100%;
    margin: 0 auto;
  }
  .iconoListarP{
    width: 30px;
    
  }
 
  .contTexto1P {
    width: 100%;
    margin-bottom: 5px;
    size: 20px;
    display: flex;
    justify-content: flex-start;
  }
  .acordeonListaP{
    width: 62%;
    margin: 0 auto;
  }
  .contCardListaP{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
  
}


@media screen and (min-width: 768px),
(max-width:1023) {
  .cont1CrP {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: "13px";
    justify-content: space-around;
  }
  .cont1ProcesoListaP{
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .cont2CrP {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    align-items: center;
    gap: 13px;
    align-items: center;
  }

  .cardCrearPedido {
    width: 90%;
    margin: 0 auto;
  }

  .cardCrearPedidoGap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: "";
    flex-direction: row;
  }

  .cardCrearPedidoDiv {
    display: flex;
    flex-direction: row;
  }
 
  .text1ListaP{
    font-size: 25px;
  }
  .contTexto1P {
    width: 100%;
    margin-bottom: 5px;
    size: 30px;
    display: flex;
    justify-content: flex-start;
  }
  .card1ListaPV{
    display: flex;
    width: 100%;
  }

  .card1ListaPVGap{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .acordeonListaPV{
    width: 60%;
    margin: 0 auto;
  }
 
}


