 .contenedor{
    margin-left: 0%;
    margin-right: 0%;
    max-width:1350px;
    background-color: rgb(105, 119, 228, 1);
  }
 
  .txTitulo{
   color: white;
   display: flex;
   justify-content: center;
   text-align: center;
   height: 100%;
   margin: 10px;
   align-items: center; 
   font-family: 'Magnific Caos';
  }

  .bienvenido{
   display:block;
   justify-content: left;
   padding-left: 0%;
   align-items: flex-start;
  }

  .txtBienvenido{
   right: 970px;
   color: white;
   display: block;
   justify-content:left;
   text-align: left;
  }
  
   .nav {
    background-color: rgb(105, 119, 228, 1);
    line-height: inherit;
    width: 100%;
    margin-bottom: 110px;
   }
 
  .back{
   color: white;
   margin-left: 10px;
 }

 .notificar{
   color: white;
   margin-right: 10px;
   display: flex;
   justify-content: right;
   align-items: flex-end;
 }
 
 .ImgPerfil{
   display: flex;
   justify-content: flex-start;
 }